<div style="background-color: lightgreen; font-family: arial; padding: 15px;">
  <h1>You are at the About Us page!</h1>
  </br></br>
  <h2 style="color:darkgreen;"><strong>This is the About page!</strong></h2>
  </br>
  <div style="color:blue; font-size:14px;">
  <p><i>“Rrow itself, let it be sorrow;
     let him love it; let him pursue it, ishing for its acquisitiendum.
     Because he will ab hold, uniess but through concer, and also of those who resist.
     Now a pure snore disturbeded sum dust. He ejjnoyes, in order that somewon, also with a severe one, unless of life.
     May a cusstums offficer somewon nothing of a poison-filled. Until, from a twho, twho chaffinch may also pursue it,
     not even a lump. But as twho, as a tank; a proverb, yeast; or else they tinscribe nor. Yet yet dewlap bed.
     Twho may be, let him love fellows of a polecat.
     Now amour, the, twhose being, drunk, yet twhitch and, an enclosed valley’s always a laugh.
     In acquisitiendum the Furies are Earth; in (he takes up) a lump vehicles bien.”</i>
  </p>
  </br>
  </div>
  <div style="background-color: darkgrey; padding: 25px 25px;">
    <%= link_to "Back to Home", root_path %>
  </div>

  <div style="background-color: darkgrey; padding: 25px 25px;">

    <%= link_to "Receive $100,000,000.00!!!", home_path %>
  </div>
</div>
